body {
    background: url('../images/bg-mobile.png') no-repeat;
    background-size: 100% 100%;
    font-family: 'Raleway', sans-serif;
}

.card {
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    padding: 10%;
    margin: 5%;
}

.menu {
    margin-top: 50%;
    border-top-right-radius: 70px;
}

#folder {
    padding-top: 6%;
}

#upload {
    padding-top: 7%;
}

.data-cap {
    color: hsl(243, 100%, 93%);
    text-align: center;
    font-size: 14px;
}

.remaining-data {
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 5%;
    position: relative;
    top: 100px;
    font-weight: 700;
    width: 53%;
}

.icon-wrapper {
    background-color: hsl(229, 57%, 11%);
    padding: 5%;
    border-radius: 8px;
    display: inline-block;
    margin-right: 5%;
    margin-top: 5%;
}

#data {
    color: hsl(229, 57%, 11%); 
    font-size: 42px;
    margin-right: 2%;
}

#data-sub {
    color: hsl(229, 7%, 55%);
    position: relative;
    top: 20px;
    left: 5px;
}

#data-bar-bg {
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    width: 100%;
    height: 20px;
    margin-top: -50px;
}

#data-bar {
    background: linear-gradient(to right, hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    border-radius: 10px;
    width: 81.5%;
    height: 15px;
    position: relative;
    top: 2px;
    left: 3px;
}

#data-bar:after {
    content: '';
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    height: 11px;
    width: 11px;
    border-radius: 100%;
    position: absolute;
    margin-left: 43%;
    top: 1px;
}

.data-limits {
    font-weight: 700;
}

#start-cap {
    padding-top: 10px;
    width: 100%;
    white-space: nowrap;
}

#end-cap {
    margin-left: 65%;
    margin-bottom: 10%;
    padding-top: 10px;
    white-space: nowrap;
}

.row {
    display: flex;
    width: 100%;
}

.attribution {
    margin-top: 31.1vh;
}

span {
    font-weight: bold;
}

@media only screen and (min-width: 1440px) {
    body {
        background: url('../images/bg-desktop.png') no-repeat;
        background-color: hsl(229, 57%, 11%);
        background-position: 0 61vh;
    }

    #svg-file {
        transform: scale(1.2);
    }

    #file {
        padding: 25%;
    }
    
    #svg-folder {
        transform: scale(1.3);
    }

    #folder {
        padding: 27%;
    }
    
    #svg-upload {
        transform: scale(1.4);
    }

    #upload {
        padding: 25%;
        padding-top: 30%;
    }

    .icon-wrapper {
        padding: 25%;
        margin-right: 30%;
        margin-top: 25%;
    }

    .card {
        padding: 2%;
    }

    .menu {
        margin-top: 50vh;
        margin-left: 23vh;
        border-top-right-radius: 90px;
        width: 20%;
        padding: 3%;
    }

    .desktop {
        height: 25%;
        width: 25%;
    }

    .data-cap {
        text-align: left;
        font-size: 20px;
        width: 40%;
        margin-left: 60vh;
        margin-top: -21.5vh;
        padding: 1% 2%;
    }

    .data-limits {
        width: 100%;
    }

    #data-bar-bg {
        margin-top: 0;
    }

    .remaining-data {
        padding: 2%;
        width: 28%;
        top: -5vh;
        left: 5vh;
    }

    #data-bar:after {
        margin-left: 96.5%;
    }

    #data-sub {
        white-space: nowrap;
        top: 16px;
    }

    #start-cap {
        width: 0;
    }

    #end-cap {
        margin-left: 87%;
        margin-bottom: 0;
    }

    .attribution {
        margin-top: 28vh;
    }

    .remaining-data:after{
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0px 23px 17px 0;
        border-color: transparent white;
        display: block;
        width: 0;
        z-index: 1;
        left: 15vh;
        top: 6.5vh;
    }
}

@media only screen and (min-width: 1632px) {
    body {
        background-position: 0 56vh;
        background-size: contain;
    }

    .menu {
        margin-top: 43vh;
    }

    .data-cap {
        margin-left: 71vh;
        margin-top: -25.8vh;
    }

    #data-bar:after {
        margin-left: 97%;
    }

    .remaining-data {
        left: 11vh;
    }

    .remaining-data:after {
        left: 19.6vh;
        top: 7.5vh;
    }

    .attribution {
        margin-top: 30vh;
    }
}